@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  margin-bottom: 32px;
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}

.card {
  width: 100%;
  max-width: 700px;
  background-color: #4c2885;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  display: flex;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 10px solid #2a2a72;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}


.user-info ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
    gap: 1rem;
}

.user-info ul li strong {
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.repo {
    text-decoration: none;
    color: #fff;
    max-width: 400px;
    background-color: #2a2a72;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media(max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .user-form {
        max-width: 400px;
    }
}