@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

/*universal selector*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.left-slide div {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-slide h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}


.right-slide {
    position: absolute;
    left: 35%;
    top: 0;
    height: 100%;
    width: 65%;
    transition: transform 0.5s ease-in-out;
}

.right-slide div {
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-size: cover;
    background-position: top center;
}

button {
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 15px;
    background-color: #fff;
    color: #aaa;
}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

.action-buttons button{
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 100%;
}

.action-buttons .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.action-buttons .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}