@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*universal selector*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 530px;
    overflow: hidden;
    position: relative;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transform: translateX(0); /*Verschiebung auf der X-Achse um 0px (Bild1), wenn -500px, dann Bild2 wird angezeigt*/
    transition: transform 0.5s ease-in-out; /*Übergang Animation für den Schiebeffekt mit 0,5s Verzögerung und ease-in-out Kurve*/
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.buttons-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateX(0);
}

button {
    padding: 0.5rem;
    background-color: rebeccapurple;
    color: #fff;
    width: 49.5%;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:focus {
    outline: none;
}